.devIcon {
	background-image:url('https://yeetdragon24.github.io/cookieclysm/img/iconsheet-v5.png')!important;
}

.transcendent.price:before {
	background-image:url('https://yeetdragon24.github.io/cookieclysm/img/iconsheet-v5.png');
	background-position:-48px 0px;
	background-size: 1000%;
}

.devQuote q:before{
  content:""!important;
}
.devQuote q:after{
  content:""!important;
}

#puck {
	transform: scale(2);
	background-position: -96px -96px;
	background-image:url('https://yeetdragon24.github.io/cookieclysm/img/iconsheet-c0.6.png')!important;
	filter: none!important;
	opacity: 0.5;
	cursor: pointer;
}
