.devIcon {
	background-image:url('https://yeetdragon24.github.io/cookieclysm/img/iconsheet-v5.png')!important;
}

.transcendent.price:before {
	background-image:url('https://yeetdragon24.github.io/cookieclysm/img/iconsheet-v5.png');
	background-position:-48px 0px;
	background-size: 1000%;
}
.chocolate.price:before {
	background-image:url('img/icons.png');
	background-position:-1488px -144px;
}

.devQuote q:before{
  content:""!important;
}
.devQuote q:after{
  content:""!important;
}

#puck {
	transform: scale(2);
	filter: none!important;
	opacity: 0.5;
	cursor: pointer;
}